<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="navbar">
            <nav>
                {{#ifCdn role 'ADMIN' }}
                <a href="/upload">Upload to On-Premise</a>
                <a href="/upload/db">Uploadto Database</a>
                <a href="/localVideos">On-premises Videos</a>
                <a href="/db/videos">Database Videos</a>
                <a href="/users">Users</a>
                <a id="logout_link" href="/logout"> logout</a>

                {{else}}
                <a href="/localVideos">On-premises Videos</a>
                <a href="/db/videos">Database Videos</a>
                <a id="logout_link" href="/logout"> logout</a>

                {{/ifCdn}}
                
            </nav>
        </div>
    </body>
</html>