<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="navbar">
            <nav>
                <a href="/">Home</a>
                <a href="/db/videos">DatabaseVideos</a>
                <a href="/upload">Upload locally</a>
                <a href="/upload/db">Uploadto DB</a>
            </nav>
        </div>
    </body>
</html>