<!DOCTYPE html>
<html>
    <head>
        <title>DB List</title>
        <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <div class="header-div">
            <h2>DB List</h2>
            <a href="/">Back</a>
        </div>
       <div class="dbVideoList">
            {{#each dbVideoList}}
            <div id="videoList">
                <a href="/db/videos/{{this}}">{{this}}</a>
            </div>
            {{/each}}
       </div>
    </body>
</html>