<!DOCTYPE html>
<html>
    <head>
        <title>DB Upload File</title>
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        {{>header}}
        <h1>Uploading to DB...</h1>
        <div id="uploadDiv">
            <form action="/upload/db" method="post" enctype="multipart/form-data">
                <input type="file" name="my-video" id="uploadFile" required><br>
                <button type="submit" name="submitButton">Upload</button>
            </form>
        </div>
    </body>
</html>