<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    </head>

    <body>
        {{> header }}
        <h1>Welcome {{user.name}}</h1> 
        <img src="icon.png" alt="Streamer"> <br>
        
    </body>
</html>