<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    </head>

    <body>
        <nav>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </nav>

        <h1>Welcome</h1>
        <img src="icon.png" alt="Streamer"> <br>
    </body>
</html>