<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    </head>

    <body>
        <h3>Login</h3>
        <form action="/login" method="post">
            <input type="text" name="username" id="username" placeholder="Enter username" required minlength="10"> <br>
            <input type="password" name="password" id="pwd" placeholder="enter password" required> <br>
            <button type="submit">Login</button> <br>
            <span>Don't have an accout?</span> <br>
            <a href="/signup">Sign Up</a>
        </form>
    </body>
</html>