<!DOCTYPE html>
<html>
    <head>
        <title>Logout</title>
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h3>Logged Out</h3>
        <a href="/login">Login</a>
    </body>
</html>