<!DOCTYPE html>
<html>
    <head>
        <title>Logout</title>
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="header-div">
            <h2>Logged Out</h2>
            <a href="/login">Login</a>
            <a href="/">Home</a>
        </div>
    </body>
</html>