<!DOCTYPE html>
<html>
    <head>
        <title>Authenticaion</title>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    </head>

    <body>
        <h3>Sign up</h3>
        <form action="/signup" method="post">
            <input type="text" name="name" id="name" placeholder="Enter name" required maxlength="30"> <br>
            <input type="text" name="username" id="username" placeholder="Enter Email" required minlength="8"> <br>
            <input type="password" name="password" id="pwd" placeholder="enter password" required> <br>
            <button type="submit">Signup</button> <br>
        </form>
    </body>
</html>