<!DOCTYPE html>
<html>
    <head>
        <title>Upload Success</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    </head>

    <body>
        <h3>Upload Successful</h3>
        <a href="/">Home</a>
    </body>
    
</html>