<!DOCTYPE html>
<html>
    <head>
        <title>Upload File</title>
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Welcome Admin...</h1>
        <div id="uploadDiv">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="my-video" id="uploadFile"><br>
                <button type="submit" name="submitButton">Upload</button>
            </form>
        </div>
    </body>
</html>