<!DOCTYPE html>
<html>
    <head>
        <title>On-Premise</title>
        <link rel="icon" href="icon.png">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="header-div">
            <h2>On-Premise List</h2>
            <a href="/">Back</a>
        </div>
        <div class="videoList">
            {{#each videoList}}
            <div id="videoList">
                <a href="/video/{{this}}">{{this}}</a>
            </div>
            {{/each}}
        </div>
    </body>
</html>