<!DOCTYPE html>
<html>
    <head>
        <title>On-Premise</title>
        <link rel="icon" href="icon.png">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="header-navigation-pages">
            <h4>On-Premise</h4>
            <span><a href="/">Back</a></span>
        </div>
        {{#each videoList}}
        <div id="videoList">
            <a href="/video/{{this}}">{{this}}</a>
        </div>
        {{/each}}
    </body>
</html>