<!DOCTYPE html>
<html>
    <head>
        <title>Video</title>
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    </head>

    <style>
        body{
            text-align: center;
            background-color: black;
            color: rgb(228, 221, 209);
        }
    </style>

    <body>
        <h1>{{videoName}}</h1>
        <video id="videoPlayer" width="auto" height="auto" muted controls>
            <source src="/playVideo/{{videoName}}" type="video/mp4"/>
        </video>
    </body>
</html>