body{
    text-align: center;
    background-color: #222;
    color: rgb(228, 221, 209);
}

a{
    text-decoration: none;
    color: inherit;
}

.videoList, .dbVideoList{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#videoList{
    width: 93%;
    background-color: #3b3b3b;
    height: 10em;
    display: inherit;
    align-items: center;
    padding: 2% 3% 1%;
    border: 5px;
    border-radius: 5px;
    margin-top: 1%;
    margin-right: 1%;
    word-wrap: break-word;
    overflow: hidden;
}

#videoList a{
    width: 90%;
}

#videoList a:hover{
    color: #69cf5f;
}

#videoList:hover{
    background-color: darkslategray;
}

#uploadFile{
    margin: 20px;
    width: 40%;
    padding: 12px 15px 12px;
    border: 2px;
    border-color: #5c5959;
    background-color: #515151;
    border-radius: 5px;
}

button{
    width: 30%;
    padding: 10px 10px 10px;
    border: 2px;
    border-color: antiquewhite;
    background-color: #52c448;
    margin-bottom: 25px;
    border-radius: 5px;
    cursor: pointer;
}

form{
    width: 60%;
    background-color:#3b3b3b;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 2px;
}

#uploadDiv{
    width: 80%;
    margin: 0 auto;
    border: 5px;
    border-radius: 15px;
    box-shadow: 2px;
    align-self: center;
}

nav a{
    padding: 10px 25px 10px;
    color: rgb(15, 15, 15);
    background-color: rgb(97, 226, 125);
    border-radius: 5px;
    margin: auto 10px 10px;
}

nav{
    margin: 2%;
}

img{
    border-radius: 30px;
}

input{
    width: 60%;
    padding: 15px 10px 15px;
    border-radius: 5px;
    margin: 5px 2px 5px;
}

#logout_link{
    background-color: lightcoral;
}

table{
    width: 90%;
    margin: auto;
}

thead{
    background-color: #464545;
}

td, th{
    padding: 10px;
    text-align: center;
}

tr:nth-child(even){
    background-color: #464545;
}

select{
    padding: 10px;
    border-radius: 5px;
}

#userUpdateForm{

    height: fit-content;

}

#userUpdateForm select{
    margin: auto 2%;
    width: 45%;
}
#userUpdateForm button{
    margin: auto 2%;
    width: 45%;
}

.header-div{
    display: flex;
}

.header-div a{
    float: right;
    margin: auto;
}

.header-div a:hover{
    color: #52c448;
}

.header-div h2{
    width: 80%;
    color: #52c448;
}
